.button {
  color: $text-blue;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  background-color: $light-green;
  cursor: pointer;
  font-family: Arial, sans-serif;
  border: 1px solid $black;
  &--call-modal {
  }
  &--reset {
    background-color: $light-yellow;
    margin-right: 40px;
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
