$blue: #07567e;
$text-blue: #2626a9;
$white: #fff;
$black: #000;
$yellow: #f3a123;
$light-green:#b0e3e6;
$light-yellow:#fff2cc;
$red:red;
$biege: #4edede;
$light-blue: lighten($blue, 70);
$light-gray: lighten($black,80)